// to Compile

$yellow: #fff200;
$blue: #009dda;

@import "./_components/_lato.scss";
@import "./_components/_nav-bar.scss";
@import "./_components/nice-select.scss";

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  //border: 1px solid red;
}

body {
  font-family: Lato, Arial sans-serif;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-heading {
  z-index: 10;
  width: 100%;

  h2 {
    font-size: 35px;
    font-weight: 700;
    color: #000;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;

    .ttl_blue {
      color: $blue;
    }

    .ttl_yellow {
      color: $yellow;
    }
  }

  p {
    margin: 0 auto;
    font-size: 14px;
    font-weight: 400;
    color: #999999;
    text-align: center;
    width: 70%;
  }
}

@media only screen and (max-width : 991px) {
  .section-heading {
    h2 {
      font-size: 30px;
      margin-bottom: 25px;
    }

    p {
      width: 75%;
    }
  }
}

@media only screen and (max-width : 767px) {
  .section-heading {
    h2 {
      font-size: 28px;
      margin-bottom: 20px;
    }
  }
}

@media only screen and (max-width : 567px) {
  .section-heading {
    h2 {
      width: 90%;
      margin: 0 auto;
      font-size: 26px;
      margin-bottom: 20px;
    }

    p {
      width: 75%;
    }
  }
}

.header {
  width: 100%;
  position: relative;

  &-menu {
    width: 100%;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    .row {
      height: 70px;
      padding: 0 15px;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
  }

  &-nav {
    margin-left: auto;
    margin-right: 50px;
  }

  &-slider {
    width: inherit;
    padding: 0;
    margin: 0;

    &__slide {
      margin: 0;
      position: relative;
      width: inherit;
      height: 860px;
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      background: url(../img/header-slider__bg.jpg) no-repeat center / cover;

      &::before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: -webkit-gradient(linear, left top, right top, from(rgba(61, 193, 245, 0.9)), to(rgba(111, 71, 187, 0.9)));
        background: linear-gradient(to right, rgba(61, 193, 245, 0.9) 0%, rgba(111, 71, 187, 0.9) 100%);
      }

      .section-heading {
        h2 {
          color: #fff;
          font-size: 64px;
          margin-bottom: 45px;
        }

        p {
          color: #fff;
          font-size: 16px;
        }
      }
    }
  }

  .header-slider__nav {
    width: 60px;
    height: 60px;
    background: rgba(255, 255, 255, 0.3);
    cursor: pointer;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 10;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-transition: all, .5s;
    transition: all, .5s;

    i {
      font-size: 20px;
      color: #fff;
      -webkit-transition: all, .5s;
      transition: all, .5s;
    }

    &:hover {
      background: rgba(255, 255, 255, 0.7);

      i {
        color: #000;
      }
    }
  }

  .header-slider__nav_prev {
    left: 30px;
  }

  .header-slider__nav_next {
    right: 30px;
  }

  &__search-block {
    position: relative;

    input {
      width: 180px;
      height: 30px;
      background: #e8e4f1;
      padding-left: 20px;
      font-size: 14px;
      font-weight: 400;
      color: #000;
      border: none;
      outline: none;
    }

    #search-icon {
      position: absolute;
      top: 50%;
      right: 25px;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
    }
  }
}

.slick-dotted.slick-slider {
  margin-bottom: 0px;
}

.slick-dots__header-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 50%;
  bottom: 40px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);

  li {
    list-style: none;

    button {
      font-size: 0;
      width: 7px;
      height: 7px;
      border-radius: 7px;
      border: none;
      background: #b7b7b7;
      margin-right: 7px;
      outline: none;
      padding: 0;
      -webkit-transition: all, .5s;
      transition: all, .5s;

      &:hover {
        background: darken(#b7b7b7, 15%);
      }
    }

    &:last-child {
      button {
        margin-right: 0;
      }
    }
  }

  li.slick-active {
    button {
      background: #fff;
    }
  }
}

@media only screen and (max-width : 1199px) {
  .header {
    &-slider {
      &__slide {
        height: 800px;

        .section-heading {
          h2 {
            font-size: 52px;
            margin-bottom: 40px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width : 1023px) {
  .header {
    .container {
      width: 100%;
    }

    .row {
      padding: 0;
    }

    &__logo {
      margin-left: 50px;
    }

    &__search-block {
      margin-right: 150px;
    }
  }
}

@media only screen and (max-width : 991px) {
  .header {
    &-slider {
      &__slide {
        height: 650px;

        .section-heading {
          h2 {
            font-size: 42px;
            margin: 0 auto;
            margin-bottom: 40px;
            width: 350px;
          }

          p {
            width: 450px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width : 991px) {
  .header {
    &-slider {
      &__slide {
        height: 650px;

        .section-heading {
          h2 {
            font-size: 42px;
            margin: 0 auto;
            margin-bottom: 40px;
            width: 350px;
          }

          p {
            width: 450px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width : 767px) {
  .header {
    &__logo {
      margin-left: 20px;
    }

    &-slider {
      &__slide {
        height: 550px;

        .section-heading {
          h2 {
            font-size: 36px;
            margin: 0 auto;
            margin-bottom: 30px;
            width: 300px;
          }

          p {
            width: 375px;
            font-size: 14px;
          }
        }
      }
    }

    .header-slider__nav {
      width: 40px;
      height: 40px;
    }

    .header-slider__nav_prev {
      left: 20px;
    }

    .header-slider__nav_next {
      right: 20px;
    }

    &__search-block {
      margin-right: 100px;
    }
  }
}

@media only screen and (max-width : 575px) {
  .header {
    &__search-block {
      margin-right: 75px;
    }
  }
}

@media only screen and (max-width : 450px) {
  .header {
    &-slider {
      &__slide {
        height: 550px;

        .section-heading {
          h2 {
            font-size: 36px;
            margin: 0 auto;
            margin-bottom: 30px;
            width: 300px;
          }

          p {
            width: 375px;
            font-size: 14px;
          }
        }
      }
    }

    .header-slider__nav {
      width: 35px;
      height: 35px;
    }

    &__search-block {
      margin-right: 65px;
    }
  }
}

@media only screen and (max-width : 425px) {
  .header {
    .row {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      padding: 20px 0;
      height: auto;
    }

    &__logo {
      margin-left: 70px;
      margin-bottom: 10px;

      img {
        width: 75px;
      }
    }

    &-slider {
      &__slide {
        height: 550px;

        .section-heading {
          h2 {
            font-size: 30px;
            margin: 0 auto;
            margin-bottom: 30px;
            width: 250px;
          }

          p {
            width: 200px;
            margin-bottom: -50px;
          }
        }
      }
    }

    .header-slider__nav {
      width: 35px;
      height: 35px;
    }

    &__search-block {
      margin-right: 0px;
      margin-left: 20px;
    }
  }
}

.row {
  padding: 0 15px;
}

.whyUs {
  padding: 115px 0;

  &-block {
    margin-top: 90px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

    &__item {
      width: 199px;
      height: 270px;
      border: 1px solid #ebebeb;
      display: -ms-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      padding: 33px 0;
      position: relative;

      h4 {
        margin: 0;
        font-size: 14px;
        font-weight: 900;
        color: #232323;
        text-transform: uppercase;
        text-align: center;
      }

      p {
        margin: 0;
        width: 85%;
        font-size: 14px;
        font-weight: 300;
        color: #373737;
        text-align: center;
      }

      &_hover {
        position: absolute;
        left: 0;
        bottom: 0;
        width: inherit;
        height: 0px;
        overflow-y: hidden;
        background: #503392;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        padding: 0;
        -webkit-transition: all, .5s;
        transition: all, .5s;

        a {
          text-decoration: none;
          font-size: 14px;
          font-weight: 600;
          color: #fff;
          text-transform: uppercase;

          &::after {
            position: relative;
            content: '';
            -webkit-transform: translateY(-2px);
                    transform: translateY(-2px);
            display: block;
            width: 0;
            margin: 0 auto;
            height: 1.5px;
            background: #fff;
            -webkit-transition: all, .3s;
            transition: all, .3s;
          }

          &:hover {
            &::after {
              width: 100%;
            }
          }
        }

        .whyUs-seeMore__block {
          display: -ms-flex;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
              -ms-flex-pack: justify;
                  justify-content: space-between;
          width: 86px;

          div {
            width: 35px;
            height: 35px;
            border-radius: 35px;
            border: 1px solid #fff;
            cursor: pointer;
            display: -ms-flex;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;

            &:first-child {
              background: #503392;
            }

            &:last-child {
              background: #fff;
            }
          }
        }
      }

      &:hover {
        .whyUs-block__item_hover {
          height: 150px;
          padding: 34px 0;
        }
      }
    }
  }
}

@media only screen and (max-width : 1199px) {
  .whyUs {
    padding: 100px 0;

    &-block {
      margin-top: 80px;

      &__item {
        width: 175px;
      }
    }
  }
}

@media only screen and (max-width : 991px) {
  .whyUs {
    padding-top: 75px;
    padding-bottom: 60px;

    &-block {
      margin-top: 50px;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;

      &__item {
        width: 199px;
        margin: 15px;
      }
    }
  }
}

@media only screen and (max-width : 767px) {
  .whyUs {
    padding-top: 50px;
    padding-bottom: 35px;

    &-block {
      margin-top: 40px;
    }
  }
}

#our-products {
  position: relative;
  width: 100%;
  padding-top: 49px;
  padding-bottom: 70px;
  background: url(../img/our-products__bg.jpg) no-repeat center / cover;

  .section-heading {
    h2 {
      color: #fff;
    }
  }

  .our-products__top-bg {
    width: 100%;
    height: 160px;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.products-slider {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin-top: 173px;
  margin-left: 1px;

  &__slide {
    width: 338px !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 104px;

    img {
      width: 145px;
      height: 145px;
      border-radius: 145px;
    }

    .product-discr {
      display: -ms-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-left: 25px;

      h3 {
        font-size: 24px;
        font-weight: 900;
        color: #232323;
        text-transform: uppercase;
        margin: 0;
        margin-bottom: 7px;
      }

      .product-category {
        font-size: 14px;
        font-weight: 400;
        color: #503392;
        margin-bottom: 10px;
      }

      .product__short-info {
        font-size: 14px;
        font-weight: 300;
        color: #373737;
        line-height: 1.8;
      }
    }
  }
}

.slick-dots__products-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 50%;
  bottom: 10px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);

  li {
    list-style: none;

    button {
      font-size: 0;
      width: 7px;
      height: 7px;
      border-radius: 7px;
      border: none;
      background: #d7d7d7;
      margin-right: 7px;
      outline: none;
      padding: 0;
      -webkit-transition: all, .5s;
      transition: all, .5s;

      &:hover {
        background: darken(#d7d7d7, 15%);
      }
    }

    &:last-child {
      button {
        margin-right: 0;
      }
    }
  }

  li.slick-active {
    button {
      background: #503392;
    }
  }
}

@media only screen and (max-width : 1199px) {
  #our-products {
    padding-bottom: 65px;
  }

  .products-slider {
    margin-top: 140px;

    &__slide {
      width: 290px !important;
      margin-bottom: 104px;

      img {
        width: 125px;
        height: 125px;
        border-radius: 125px;
      }

      .product-discr {
        margin-left: 15px;

        h3 {
          font-size: 22px;
          margin-bottom: 7px;
        }
      }
    }
  }
}

@media only screen and (max-width : 991px) {
  #our-products {
    padding-bottom: 50px;
    padding-top: 30px;

    .our-products__top-bg {
      height: 125px;
    }
  }

  .products-slider {
    margin-top: 130px;

    &__slide {
      width: 330px !important;
      margin-bottom: 104px;

      img {
        width: 145px;
        height: 145px;
        border-radius: 145px;
      }

      .product-discr {
        margin-left: 15px;

        h3 {
          font-size: 24px;
          margin-bottom: 7px;
        }
      }
    }
  }
}

@media only screen and (max-width : 767px) {
  #our-products {
    padding-bottom: 30px;
    padding-top: 25px;

    .our-products__top-bg {
      height: 100px;
    }

    .section-heading {
      h2 {
        width: 100%;
      }
    }
  }

  .products-slider {
    margin-top: 100px;

    &__slide {
      width: 250px !important;
      margin-bottom: 75px;

      img {
        width: 125px;
        height: 125px;
        border-radius: 125px;
      }

      .product-discr {
        margin-left: 15px;

        h3 {
          font-size: 22px;
        }
      }
    }
  }
}

@media only screen and (max-width : 544px) {
  #our-products {
    padding-top: 20px;

    .our-products__top-bg {
      height: 90px;
    }
  }

  .products-slider {
    margin-top: 75px;

    &__slide {
      width: 85% !important;

      img {
        width: 130px;
        height: 130px;
        border-radius: 130px;
      }

      .product-discr {
        margin-left: 6%;

        h3 {
          margin-bottom: 5px;
        }
      }
    }
  }
}

#about-us {
  padding: 120px 0;

  .section-heading {
    h2 {
      text-align: left;
      width: 100%;
    }

    p {
      text-align: left;
      margin-left: 0;
      width: 100%;
    }
  }

  .about-us__block {
    &-discr {
      font-size: 14px;
      font-weight: 400;
      color: #373737;
      margin-top: 42px;
      margin-bottom: 60px;
    }
  }

  .about-us__image {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;

    img {
      -webkit-transform: translateY(45px);
              transform: translateY(45px);
    }
  }
}

.our-skills {
  width: 100%;
  &__item {
    width: inherit;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }

    &-text {
      width: inherit;
      display: -ms-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin-bottom: 20px;

      span {
        font-size: 13px;
        font-weight: 700;
        color: #444;
        text-transform: uppercase;
      }
    }

    &-progress {
      width: inherit;
      border: 1px solid #ddd;
      padding: 2px;

      .progres-rate {
        width: 0%;
        height: 3px;
        background: #009dda;
      }
    }
  }
}

@media only screen and (max-width : 1199px) {
  #about-us {
    padding: 100px 0;
  }
}

@media only screen and (max-width : 991px) {
  #about-us {
    padding: 75px 0;

    .section-heading {
      h2 {
        text-align: center;
        width: 100%;
      }

      p {
        text-align: center;
        margin: 0 auto;
        width: 100%;
      }
    }

    .about-us__block {
      &-discr {
        margin-top: 42px;
        margin-bottom: 60px;
      }
    }

    .about-us__image {
      display: none;
    }
  }

  .our-skills {
    width: 100%;
    &__item {
      margin-bottom: 30px;

      &-text {
        margin-bottom: 15px;
      }
    }
  }
}

@media only screen and (max-width : 767px) {
  #about-us {
    padding: 50px 0;
  }
}

#contacts {
  padding-top: 80px;
  width: 100%;
}

#map {
  z-index: -10;
  width: 100%;
  height: 634px;
}

.contacts-block {
  margin-top: 85px;
  position: relative;

  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background: rgba(0, 0, 0, 0.5);
  }

  .contacts-block-info {
    position: absolute;
    top: 98px;
    left: 50%;
    z-index: 75;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.contact-info {
  padding: 82px 68px;
  background: rgba(0, 0, 0, 0.8);
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  .contact-form {
    width: 488px;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

    * {
      background: transparent;
      font-size: 16px;
      font-weight: 400;
      color: #b7b7b7;
      outline-color: #000;
    }

    input {
      width: 238px;
      padding-left: 21px;
      height: 48px;
      border: 1px solid #9a9999;
    }

    .mail-select {
      margin: 0;
      padding: 0;
      width: 238px;
      padding-left: 21px;
      border: 1px solid #9a9999 !important;
      border-radius: 0;
      height: 48px;
      border: none;

      &::after {
        border-bottom: 1px solid #fff;
        border-right: 1px solid #fff;
        height: 7px;
        width: 7px;
        margin-right: 10px;
      }

      .option {
        color: #000;
        background: #fff;
        -webkit-transition: all, 0.3s;
        transition: all, 0.3s;

        &:hover {
          color: #4ab5e3;
          background-color: #fff;
        }
      }

      .list {
        background: #fff;
        width: 100%;
        border-radius: 0;
      }
    }

    textarea {
      margin: 13px 0;
      width: 100%;
      height: 143px;
      padding: 20px;
    }

    .btn-checkbox {
      display: -ms-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;

      input {
        width: 23px;
        height: 23px;
        background: transparent !important;
        background-image: none !important;
      }

      span {
        font-size: 16px;
        font-weight: 400;
        color: #b7b7b7;
        margin-left: 10px;
      }
    }

    .btn-send {
      padding: 19px 43px;
      font-size: 16px;
      font-weight: 400;
      color: #373737;
      border: none;
      background: #ffff00;
      cursor: pointer;
      -webkit-transition: all, .5s;
      transition: all, .5s;

      &:hover {
        background: darken(#ffff00, 10%);
      }
    }
  }
}

.contact-info__block {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 95px;
  width: 195px;

  div {
    font-size: 16px;
    font-weight: 400;
    color: #f3f3f3;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 35px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media only screen and (max-width : 1199px) {

}

@media only screen and (max-width : 991px) {

}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 567px) {

}



@media only screen and (max-width : 1199px) {

}

@media only screen and (max-width : 991px) {

}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 567px) {

}



@media only screen and (max-width : 1199px) {

}

@media only screen and (max-width : 991px) {

}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 567px) {

}



@media only screen and (max-width : 1199px) {

}

@media only screen and (max-width : 991px) {

}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 567px) {

}



@media only screen and (max-width : 1199px) {

}

@media only screen and (max-width : 991px) {

}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 567px) {

}
