.header-nav {
  .toggler-icon {
    display: none;
  }

  .nav-bar {
    margin: 0;
    padding: 0;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    .nav-item {
      position: relative;
      list-style: none;
      padding: 25px 0;
      margin-left: 58px;


      &:first-child {
        margin-left: 0;
      }

      .nav-link {
        padding: 0;
        font-size: 16px;
        font-weight: 400;
        color: #000;
      }

      ul {
        display: none;
        position: absolute;
        top: 72px;
        left: 12px;
        padding: 30px 0 30px 18px;
        margin: 0;
        background: rgba(41, 26, 61, 0.9);
        border-top: 2px solid $yellow;
        width: 183px;

        li {
          list-style: none;
          margin-bottom: 25px;

          &:last-child {
            margin-bottom: 0;
          }

          a {
            font-family: Helvetica;
            font-size: 14px;
            font-weight: 400;
            color: #fdfdfd;
            text-decoration: none;
            -webkit-transition: all, .3s;
            transition: all, .3s;

            &:hover {
              color: $yellow;
            }
          }

          ul {
            display: none;
            position: absolute;
            left: 183px;
            top: 110px;
          }
        }
      }
    }
  }
}

#nav-item__product:hover {
  #products-list {
    display: block;
  }
}

#shoes:hover {
  #shoes-list {
    display: block;
  }
}

@media only screen and (max-width : 1023px) {
  .header-nav {
    width: 100%;
    margin-right: 0;
    position: absolute;

    .toggler-icon {
      margin-left: auto;
      margin-right: 50px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      width: 23px;
      height: 16px;
      background: transparent;
      cursor: pointer;

      div {
        width: 23px;
        height: 2px;
        background: #000;
        -webkit-transition: all, 0.7s;
        transition: all, 0.7s;

        &:first-child {
          margin-top: 0;
        }
      }
    }

    .toggler-icon_close {
      div {
        width: 23px;
        height: 2px;
        background: #000;

        &:first-child {
          margin-top: 14px;
          -webkit-transform: rotate(45deg);
                  transform: rotate(45deg);
        }

        &:nth-child(2) {
          margin-top: -2px;
          -webkit-transform: rotate(-45deg);
                  transform: rotate(-45deg);
        }

        &:last-child {
          display: none;
        }
      }
    }

    .nav-bar {
      display: none;
      position: absolute;
      top: 43px;
      left: 0;
      width: 100%;
      z-index: 10;
      background: rgba(41, 26, 61, 0.9);

      .nav-item {
        position: relative;
        margin-left: 0;
        padding-top: 20px;
        margin-bottom: 0;
        border-top: none;
        padding-bottom: 20px;
        -webkit-transition: all, .3s;
        transition: all, .3s;

        &::after {
          position: relative;
          content: '';
          -webkit-transform: translateY(20px);
                  transform: translateY(20px);
          display: block;
          width: 0;
          margin: 0 auto;
          height: 2px;
          background: #fff;
          -webkit-transition: all, 1s;
          transition: all, 1s;
        }

        &:hover {
          background: #2a1b3e;

          &::after {
            width: 100%;
          }
        }

        .nav-link {
          color: #fff;
          text-align: center;
        }

        ul {
          display: none;
          position: relative;
          top: 10px;
          left: -7px;
          padding: 30px 0 30px 18px;
          margin: 0 auto;
          background: #2a1b3e;
          border-top: none;
          border-bottom: 2px solid $yellow;
          width: 80%;

          li {
            display: -ms-flex;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            list-style: none;
            margin-bottom: 25px;

            &:last-child {
              margin-bottom: 0;
            }

            a {
              font-family: Helvetica;
              font-size: 14px;
              font-weight: 400;
              color: #fdfdfd;
              text-decoration: none;
              -webkit-transition: all, .3s;
              transition: all, .3s;

              &:hover {
                color: $yellow;
              }
            }

            ul {
              display: none;
              position: relative;
              left: -10px;
              top: 10px;
            }
          }
        }
      }
    }
  }

  #shoes {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (max-width : 767px) {
  .header-nav {
    .toggler-icon {
      margin-right: 20px;
    }
  }
}

@media only screen and (max-width : 425px) {
  .header-nav {
    .toggler-icon {
      margin-top: 5px;
    }
  }
}
